backup/
model/
data/
data_generator/font
data_generator/data_generator.zip
data_generator/background
data_generator/info.txt
test/
data/train/
log.txt
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
