data/dataset/
data/res/
infra/checkpoints*
utils/bbox/__pycache__/
utils/bbox/.fuse_hidden*
utils/bbox/*.c
utils/bbox/*.pyd
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints*
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
